<div class="container">
  <div class="row">
    <h4 class="col-md-12">Cadastros</h4>
    <div class="col-md-3">
      <%= link_to clients_path, class: 'btn btn-block btn-info' do %>
      <h1>
        <i class="glyphicon glyphicon-user"></i>
      </h1>
      <h4>Clientes</h4>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to projects_path, class: 'btn btn-block btn-info' do %>
      <h1>
        <i class="glyphicon glyphicon-tasks"></i>
      </h1>
      <h4>Projetos</h4>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to tasks_path, class: 'btn btn-block btn-info' do %>
      <h1>
        <i class="glyphicon glyphicon-calendar"></i>
      </h1>
      <h4>Tarefas</h4>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to teams_path, class: 'btn btn-block btn-info' do %>
      <h1>
        <i class="glyphicon glyphicon-flag"></i>
      </h1>
      <h4>Equipes</h4>
      <% end %>
    </div>
  </div>
</div>
