<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <h5 class="col-md-10">Editando Projeto</h5>
          </div>
        </div>
        <div class="panel-body">
            <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
