// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navigation {
 
  background-color: #003300;
  border-color: #E7E7E7;
}

#letralogo {
  color: #FFFFFF;
}
#letralogin {
  color: #FFFFFF;
}

h3 {
  margin-top: 10px !important;
}

h5 {
  margin: 0 !important;
  line-height: 34px !important;
}

.table > tbody > tr > td {
  vertical-align: middle !important;
}

#brand-image{

height: 30px;

}	


